html {
  scroll-behavior: smooth;
}
footer.footer {
  background: linear-gradient(to top, #000000, #101036);
  
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 30px 5vw;
  color: #ccc;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.footer-left {
  padding-left: 3rem;
  max-width: 300px;
}
.footer-mid{
  margin-right: 20rem;
}
.chat-icon {
  margin-top: 1.8rem;
  height: 100px;
  position: relative;
  right : 1px;
}

.slogan {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 300;
  color: #fff;
  margin-top: 1.25rem;
  text-align: center;
}

.slogan strong {
  font-weight: 600;
  color: #fff;
}

.credit {
  font-size: 0.9rem;
  display: block;
  margin-top: 0.5rem;
  color: #aaa;
}

.footer-links {
  align-items: center;
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}

.footer-links h4 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: #aaa;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.app-btn {
  background: none;
  border: 1px solid #555;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  transition: background 0.3s, color 0.3s;
}

.app-btn:hover {
  background: #fff;
  color: #000;
}

.footer-bottom {
  border-top: 1px solid #333;
  display: flex;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  font-size: 0.8rem;
  color: #888;
  flex-wrap: wrap;
  gap: 1rem;
}

.bottom-links a {
  margin-left: 1rem;
  color: #888;
  text-decoration: none;
}

.bottom-links a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .bottom-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
